<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <!-- <th scope="col"></th> -->
            <!-- <th scope="col">Address of Property</th> -->
            <th scope="col">Total Amount</th>
            <th scope="col">Remaining Amount</th>
            <th scope="col">Remaining Time</th>
            <!-- <th scope="col">Monthly Salary</th> -->
            <th scope="col">Monthly EMI</th>
            <!-- <th scope="col">Date of Issue</th> -->
            <!-- <th scope="col">Status</th> -->
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let user of loanReq"> -->
            <!-- <td>{{ user.userId}}</td> -->
            <!-- <td>{{ user.propertyAddress }}</td> -->
            <!-- <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td> -->
            <!-- <td>{{user.loanAmount}}</td>
            <td>{{user.remainingTime}}</td>
            <td>{{user.monthlyEMI}}</td>
            <td>{{user.DateTime}}</td> -->
            <!-- <td>{{user.status}}</td> -->
            <!-- <td> -->
              <!-- <div>
                <button type="button" (click)=updateData() class="btn btn-secondary btn-sm">Update</button>
                <button type="button" (click)=deleteData(user) class="btn btn-danger btn-sm">Delete</button> -->
                <!-- <button type="button" class="btn btn-success btn-sm">Success</button> -->
              <!-- </div> -->
            <!-- </td> -->
          <!-- </tr> -->
        </tbody>
      </table>
    </div>
  </div>

  <!-- userId! : string;
  description! : string;
  amount! : number;
  tenure! : number;
  salary! : number;
  status! : string; -->